:root {
    --color-primary: rgb(235, 242, 250);
    --color-secondary: rgb(30, 16, 20);
    --color-accent: rgb(253, 225, 45);
}

body {
    background-color: var(--color-primary);
}

* {
    font-family: 'Open Sans', sans-serif;
}

/* stile navbar */

.bg-navbar {
    background: var(--color-secondary);
}