:root {
    --color-primary: rgb(235, 242, 250);
    --color-secondary: rgb(30, 16, 20);
    --color-accent: rgb(253, 225, 45);
}

body {
    background-color: var(--color-primary);
}

* {
    font-family: 'Open Sans', sans-serif;
}

/* stile navbar */

.bg-navbar {
    background-color: var(--color-secondary);
    
}

/* stile footer */
.footerLink{
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.5vw;
}

.footerLink:hover{
    color: var(--color-accent);
}

.footerItem{
    color: var(--color-primary);
    text-decoration: none;
    list-style: none;
    font-size: 1vw;
    width: fit-content;
    height: fit-content;
}

.footerTitle{
    color: var(--color-accent);
    font-size: 1.6vw;
    padding-bottom: 0.2vw;
    margin: 0;
}

.carosello {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}