/* IMPOSTAZIONI GENERALI */
:root {
    --color-primary: rgb(254, 247, 255);
    --color-secondary: rgb(30, 2, 26);
    --color-accent: rgb(222, 253, 45);
}

.accento {
    color: var(--color-accent);
}

body {
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.font1 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


* {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

/* STILE NAVBAR */

.bg-navbar {
    background-color: var(--color-secondary);
}

/* HOMEPAGE BUTTON/BRAND LOGO */
.navbar-brand::after, .activeNavBrand::after {
    content: 'PRESTO';
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-accent);
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6vw;
    font-weight: 700;
    width: 8vw;
    height: 75%;
    margin: 0px;
    padding: 0.3vw;
    border: 1px solid var(--color-accent);
    border-radius: 0.3vw;
    transition: all 0.3s ease;
}

.activeNavBrand::after{
    background-color: var(--color-accent);
    color: var(--color-secondary);
}


.navbar-brand:hover::after{
    content: '\F425';
    font-family: 'bootstrap-icons';
    font-size: 1.6vw;
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

/* LINKS  */

.navLink, .activeNavLink {
    font-size: 1.4vw;
    padding: 0.5vw 1vw;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.3s ease;
    height: 75%;
  }
  
.navLink {
    color: var(--color-primary);
  }
  
.navLink:hover {
    color: var(--color-accent);
  }
  
.activeNavLink {
   
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-accent);

  }
  
.activeNavLink:hover {
    color: var(--color-primary);
  }

/* INPUT GROUP SELEZIONA PER CATEGORIA E RICERCA */
.searchBox{
    background-color: var(--color-secondary);
    border: solid 0.15vw var(--color-accent);
    border-radius: 0.3vw;
    overflow: visible;
    position: relative;
    height: 3vw;
}

.searchControl{
    background-color: transparent;
    border: 0px;
    border-radius: 0.3vw;
    height: 100%;
    padding: 1.2vw;
    font-size: 1.4vw;
}

.searchControl:focus, .navBtn:focus{
    outline: none;
    box-shadow: 0 0 0 0;
    background-color: transparent;
}

.searchControl:focus::placeholder{
    color: transparent;
}

.searchControl::placeholder{
    color: var(--color-primary);
    font-style: italic;
    font-size: 1.4vw;
}

.navBtn{
    background-color: var(--color-accent);
    color: var(--color-secondary);
    border-radius: 0.2vw 0 0vw 0.2vw;
    border-right: 1px solid var(--color-accent);
    display: flex;
    align-items: center;
    font-size: 1.4vw;
    padding: 1.2vw;
}

.navBtn:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    
}

form>.navBtn{
    border-radius: 0 0.2vw 0.2vw 0;
    border-right: 0px;
    
    border-radius: 0 0.2vw 0.2vw 0;
}

form>.navBtn:hover{
    background-color: var(--color-secondary);
    color: var(--color-accent);
    border-left: 1px solid var(--color-accent);
}

/* STILE DEI DROPDOWN */
 nav .dropdown-menu{
    background-color: var(--color-secondary);
    border:0;
    border-radius: 0.3vw;
} 

nav .dropdown-item{
    color: var(--color-primary);
    font-size: 1.4vw;
}

nav .dropdown-item:hover{
    background-color: var(--color-accent);
    color: var(--color-secondary);
}

/* STILE PAGINA HOME */

.v70 {
  height: 70vh;
}

.pattern {
  background: linear-gradient(rgba(254, 247, 255, 0.724), var(--color-primary)), url("/public/media/bg-test.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.titolo {
  font-size: 8vh;
  font-weight: 600;
  text-shadow: 2px 2px 5px var(--color-accent);
}

/* STILE FOOTER */
.footerLink{
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.5vw;
}

.footerLink:hover{
    color: var(--color-accent);
}

.footerItem{
    color: var(--color-primary);
    text-decoration: none;
    list-style: none;
    font-size: 1vw;
    font-weight: 300;
    width: fit-content;
    height: fit-content;
}

li.footerItem > a.footerItem {
    padding-top: 0.4vw;
    text-decoration: underline;
    text-underline-offset: 0.4vw;
}

li.footerItem > a.footerItem:hover{
    color: var(--color-accent);
}

.footerTitle{
    color: var(--color-accent);
    font-size: 1.6vw;
    padding-bottom: 0.2vw;
    margin: 0;
}

/* STILE PAGINA DETTAGLIO */
.carosello {
    height: 40vh;
    width: 100%;
}

/* stile cards */

.card-custom {
  border: 5px solid var(--color-accent);
  border-radius: 20px;
  background: linear-gradient(120deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.701) 50%, rgba(255, 255, 255, 0) 100%), var(--color-secondary);
  background-size: 1000%;
  background-position: top left;
  transition: 1s;

  height: 100%; /* Assicura che abbiano tutte la stessa altezza */
  text-overflow: clip;
 
}

.card-custom:hover {
  background-position: bottom right;
}

.btn-custom {
  background: var(--color-accent);
  color: var(--color-secondary);
}

.btn-custom:hover {
  background: var(--color-secondary);
  color: var(--color-accent);
}

.btn-custom:hover {
  color: var(--color-accent);
  background-color: var(--color-secondary);
  border: 1px var(--color-accent) solid;
}

.btn-custom1{
  background: var(--color-secondary);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

.btn:focus{
    background: var(--color-secondary);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 0 0;
  }

  /* PERSONALIZZAZIONE FORM */

  .form-label { 
      background-color: var(--color-secondary);
      color: var(--color-primary);
      padding: 0.2vw 0.5vw;
      border-radius: 0.2vw;
  }

  .form-control{
    border: var(--color-secondary) solid 2px;
  }

  .form-control:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 0;
  }

  .formOption:hover {
    background-color: var(--color-accent);
  }

  .cardLink {
    text-decoration: underline;
    color: var(--color-primary);
  }

  .cardLink:hover {
    color: var(--color-accent);
  }

  .cardTxt {
    color: var(--color-primary);
  }

/* stile carosello */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* stile modal */
.bg-modal {
  background-color: #6df3a9;
    object-fit: cover;
}

/* stile pagina dettaglio */
.bordo {
  border: 5px solid var(--color-secondary);
  border-radius: 0.8vw;
  padding: 4vw;
}

.bordoTotale {
  background-color: #6df3a9;
  padding: 2vh;
  margin-bottom: 3vh;
}































/* MEDIA QUERIES NAVBAR */
@media screen and (max-width: 992px) {    
 .navLink, .activeNavLink{
        font-size: 3vw;
        padding: 0.5vw;
        display: block;
    }

    .navbar-brand::after, .activeNavBrand::after, .navbar-brand:hover::after, nav .dropdown-item, .navBtn{
        font-size: 2.8vw;
        width: fit-content;
    }

    .nav-item.dropdown .dropdown-menu {
        position: absolute;
        top: 100%; /* Posiziona sotto il bottone del dropdown */
        left: 0;
        right: 0;
        z-index: 1050; /* Assicurati che il dropdown stia sopra la navbar */
        box-shadow: 0 8px 16px rgba(0,0,0,0.15); /* Aggiungi un'ombra per maggiore visibilità */
    }

    .searchControl::placeholder{
        font-size: 1.8vw;
        padding: 0;
    }



}